<div class="wrap_category">
	<div class="container">
		<div class="row">
			<div class="col-12"><h2 class="text-center">Category of Men</h2></div>
		</div>
		<div class="row">
			<div class="col-md-6 col-sm-6 col-lg-3 category_item" ng-repeat="category in ctrl.categories">
				<div class="width_category_wrap">
					<img src="" ng-src="{{category.img}}" alt="img">
				    <span>{{category.name}}</span>
				    <button class="btn btn-outline-success btn-sm" ng-click="ctrl.show(category)">Show</button>
				</div>
	   		</div>
		</div>
	</div>
</div>
